.gl-info {
  margin: 40px 0;
  background-color: $base-color;
  color: black;
  padding: 75px 0;
  .page-title {
    font-family: 'Seymour One', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 44px;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_icon {
      margin-right: 10px;
      img {
        max-width: 50px;
      }
    }
    &_desc {
      font-size: 18px;
      span {
        font-weight: 700;
      }
    }
  }
}